<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Real-Time Products</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js" defer></script>
    </head>
    <body>
        <h1>Real-Time Products</h1>
        <form id="product-form">
            <input type="text" id="title" placeholder="Título" required />
            <input
                type="text"
                id="description"
                placeholder="Descripción"
                required
            />
            <input type="text" id="code" placeholder="Código" required />
            <input type="number" id="price" placeholder="Precio" required />
            <label>
                Disponible
                <input type="checkbox" id="status" />
            </label>
            <input type="number" id="stock" placeholder="Stock" required />
            <input type="text" id="category" placeholder="Categoría" required />
            <button type="submit">Agregar Producto</button>
        </form>

        <form id="filter-form">
            <input type="text" id="category" placeholder="Categoría" />
            <select id="availability">
                <option value="">Disponibilidad</option>
                <option value="true">Disponible</option>
                <option value="false">No Disponible</option>
            </select>
            <select id="sort">
                <option value="">Ordenar por Precio</option>
                <option value="asc">Ascendente</option>
                <option value="desc">Descendente</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>

        <ul id="product-list">
            {{#each products}}
                <li>
                    <strong>{{this.title}}</strong>
                    -
                    {{this.description}}
                    - ${{this.price}}
                    <button
                        data-id="{{this._id}}"
                        class="delete-product"
                    >Eliminar</button>
                </li>
            {{/each}}
        </ul>

        <div id="pagination-controls">
            <button id="prev-page" disabled>Anterior</button>
            <button id="next-page" disabled>Siguiente</button>
        </div>

    </body>
</html>